<% layout('./layouts/login') %>
<h3 style="display: flex; align-items: center; justify-content: center">
  <img
    src="/favicon.png"
    alt="pageturner icon"
    style="width: 50px; height: 50px; margin-right: 10px"
  />
  PageTurner
</h3>
<div class="section">
  <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red darken-1">
    <i class="fab fa-google left"></i>Log In with Google
  </a>
</div>
